
@{
    ViewBag.Title = "EmailValidation";
}

<div class="otp-main">

    <div class="otp-form-container">
        <h1 class="enter-otp-header">ENTER OTP</h1>
        <div class="form-container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                
            <p class="check-email-text">Check your email for the OTP</p>
                    <div class="otp-container">
                        @Html.TextBox("otp")
                    </div>
    
                <input type="submit" value="SUBMIT" class="submit-otp-btn" />
                <p class="error-message-otp">@Html.ValidationMessage("Error", null, new { @class = "" })</p>
             

                }
            </div>
       
    </div>
   
</div>


