<div class="sidebar-container">
    <p>User photo</p>
    <button>@Html.ActionLink("My Profile", "UserProfile","User")</button>
    <button>@Html.ActionLink("Appointment History", "AppointmentHistory","Appointment")</button>
    <button>@Html.ActionLink("Logout", "Logout","User")</button>
</div>
