@{
    ViewBag.Title = "Home Page";
}
<div class="homepage-container">
    <div class="stethoscope-container">
        <img src="~/Content/assets/noto_stethoscope.png" class="stethoscope-img" />
    </div>

    <div class="text-doctor-container">
        <div class="text-container">
            <div class="text-wrapper">
                <div class="text-wrapper-top"></div>
                <div class="text-wrapper-bottom"></div>
                <h1>Complete Health <br /> Care Solutions for <br /> Everyone</h1>
                <p>
                    We're always available for our Patients with emergen problems.<br />
                    You can easily reach us 24/7. We focused on highest quality.
                </p>
            </div>

            <button>Make an appointment</button>
        </div>


        <div>
            <img src="~/Content/assets/homepage_doctor_img.png" class="doctor-img" />

        </div>

        <div class="scrolldown" style="--color: skyblue">
            <div class="chevrons">
                <div class="chevrondown"></div>
                <div class="chevrondown"></div>
            </div>
        </div>

    </div>

</div>


    <section>
        <div class="who-we-are-container">
            <h1>asdasdasd</h1>
            <h1>asdasdasd</h1>
            <h1>asdasdasd</h1>
        </div>

    </section>



