@{
    ViewBag.Title = "Home Page";
}
<div class="homepage-container">
    <div class="stethoscope-container">
        <img src="~/Content/assets/noto_stethoscope.png" class="stethoscope-img" />
    </div>

    <div class="text-doctor-container">
        <div class="text-container">
            <div class="text-wrapper">
                <div class="text-wrapper-top"></div>
                <div class="text-wrapper-bottom"></div>
                <h1>Complete Health <br /> Care Solutions for <br /> Everyone</h1>
                <p>
                    We're always available for our Patients with emergen problems.<br />
                    You can easily reach us 24/7. We focused on highest quality.
                </p>
            </div>

            <button class="make-appointment-btn">
                @if (Session["name"] != null)
        {
            @Html.ActionLink("Make an appointment", "Appointment", "Appointment")
        }else{
            @Html.ActionLink("Make an appointment", "Login", "User")
        }

            </button>
        </div>


        <div>
            <img src="~/Content/assets/homepage_doctor_img.png" class="doctor-img" />

        </div>
        <a href="#sample">
            <div class="scrolldown" style="--color: skyblue">
                <div class="chevrons">
                    <div class="chevrondown"></div>
                    <div class="chevrondown"></div>
                </div>
            </div>
        </a>
       

    </div>

</div>

@* ======= Who we ae r *@
    <section id="sample">
        <div class="who-we-are-container">
            <div class="sample-img-container">
                <div class="img-container">
                    <div class="sample-img-overlay"></div>
                    <img src="~/Content/assets/video_play_btn.png" class="video-play-btn"/>
                    <img src="~/Content/assets/sample_video_img.png" class="sample-video-img" />
                </div>
                <div class="sample-video-img-border"></div>
            </div>

            <div class="sample-txt-container">
                <img src="~/Content/assets/bg_img_section.png" class="bg-img-section" />
                <p class="who-we-are-title">Who we are?</p>
                <h1>Short story about <br /> Medifine</h1>
                <p class="who-we-are-text">Medifine is an online healthcare provider, Offering health solutions <br />and advice to over 30,00,000 patients across  Philippines.</p>
                <p class="who-we-are-text">With a team of licensed doctors and pharmasists, Medifine aim to <br /> provide comprihensive medical consultation services for patients <br />and doctors alike.</p>
                <a href="#" class="know-more-btn">Know more </a>

            
            </div>
        </div>
    </section>



